{% extends "base.twig" %}

{% block content %}
	<div class="page-archive">
		<div class="max-width px-6">
			<div class="grid grid-cols-12 space-y-28 py-32">
				<div class="col-span-12">
					<h1 class="h1-text">{{ page.title }}</h1>
					<section class="article--intro">
						{{ page.intro }}
					</section>
				</div>
				<div class="col-span-12 space-y-40">
					{% for article in news.items %}
						{% if loop.index <= 3 %}
							{% include './partials/paragraphs/paragraph-text-media.twig' with {
							image:article.image,textPosition:(loop.index is odd ? 'textLeft'),
							text:article.intro, 
							title:article.title,
							button:{url:article.linkedProduct.permalink, text:'Shop nu', style:'secondary'},
							readMore:{url:article.permalink, text:'Lees meer', style:'tertiary'},
							date:article.date} %}
						{% endif %}
					{% endfor %}
				</div>
				<div class="col-span-12">
					<div class="flex h-full items-stretch flex-wrap gap-x-6 gap-y-20">
						{% for article in news.items %}
							{% if loop.index > 3 %}
								<div class="product--card space-y-10">
									{% include './partials/cards/card-product--article.twig' with {
									card:article,
									button:{url:article.linkedProduct.permalink, text:'Shop nu', style:'secondary'},
									readMore:{text:'Lees meer', style:'tertiary'}} %}
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
