{% extends "base.twig" %}
{% block content %}
	<div class="customer-service py-10">
		<div class="max-width px-6">
			<div class="grid grid-cols-12 gap-10">
				<div class="col-span-12 md:col-span-4 lg:col-span-3">
					<div class="customer-service--navigation">
						<div class="customer-nav--web hidden md:block">
							<ul>
								<li><a href="#orders">Bestellen en bezorgen</a></li>
								<li><a href="#payeren">Betaalmogelijkheden</a></li>
								<li><a href="#refund">Ruilen en retourneren</a></li>
							</ul>
						</div>
						<div class="customer-nav--mobile block md:hidden">
							<select name="cars" id="cars">
								<option value="orders">Bestellen en bezorgen</option>
								<option value="payeren">Bestellen en bezorgen</option>
								<option value="refund">Bestellen en bezorgen</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-span-12 md:col-span-8 lg:col-span-7">
					<div class="customer-service--content">
						<h3>Klantenservice</h3>
						<p>Nec quis imperdiet et commodo. Pellentesque felis massa aliquet morbi neque rhoncus in ac diam. Lectus cursus phasellus tortor lacus ac duis tincidunt praesent facilisis. Eu aliquam vitae egestas quis risus.
						</p>
						<div class="accordion--comp">
							<ul class="faq--wrapper">
								<li id="orders" class="faq--list-item">
									<h5>Bestellen en bezorgen</h5>
									<ul class="list-item--inner-container">
										<li class="list-item--inner">
											<h6 class="faq-title">Hoe kan ik betalen?</h6>
											<div class="faq--body">
												<div class="expandable">Nec quis imperdiet et commodo. Pellentesque felis massa aliquet morbi neque rhoncus in ac diam. Lectus cursus phasellus tortor lacus ac duis tincidunt praesent facilisis. Eu aliquam vitae egestas quis risus.</div>
											</div>
										</li>
										<li class="list-item--inner">
											<h6 class="faq-title">Hoe kan ik betalen?</h6>
											<div class="faq--body">
												<div class="expandable">Nec quis imperdiet et commodo. Pellentesque felis massa aliquet morbi neque rhoncus in ac diam. Lectus cursus phasellus tortor lacus ac duis tincidunt praesent facilisis. Eu aliquam vitae egestas quis risus.</div>
											</div>
										</li>
										<li class="list-item--inner">
											<h6 class="faq-title">Hoe kan ik betalen?</h6>
											<div class="faq--body">
												<div class="expandable">Nec quis imperdiet et commodo. Pellentesque felis massa aliquet morbi neque rhoncus in ac diam. Lectus cursus phasellus tortor lacus ac duis tincidunt praesent facilisis. Eu aliquam vitae egestas quis risus.</div>
											</div>
										</li>
									</ul>
								</li>
								<li id="payeren" class="faq--list-item">
									<h5>Bestellen en bezorgen</h5>
									<ul class="list-item--inner-container">
										<li class="list-item--inner">
											<h6 class="faq-title">Hoe kan ik betalen?</h6>
											<div class="faq--body">
												<div class="expandable">Nec quis imperdiet et commodo. Pellentesque felis massa aliquet morbi neque rhoncus in ac diam. Lectus cursus phasellus tortor lacus ac duis tincidunt praesent facilisis. Eu aliquam vitae egestas quis risus.</div>
											</div>
										</li>
										<li class="list-item--inner">
											<h6 class="faq-title">Hoe kan ik betalen?</h6>
											<div class="faq--body">
												<div class="expandable">Nec quis imperdiet et commodo. Pellentesque felis massa aliquet morbi neque rhoncus in ac diam. Lectus cursus phasellus tortor lacus ac duis tincidunt praesent facilisis. Eu aliquam vitae egestas quis risus.</div>
											</div>
										</li>
										<li class="list-item--inner">
											<h6 class="faq-title">Hoe kan ik betalen?</h6>
											<div class="faq--body">
												<div class="expandable">Nec quis imperdiet et commodo. Pellentesque felis massa aliquet morbi neque rhoncus in ac diam. Lectus cursus phasellus tortor lacus ac duis tincidunt praesent facilisis. Eu aliquam vitae egestas quis risus.</div>
											</div>
										</li>
									</ul>
								</li>
								<li id="refund" class="faq--list-item">
									<h5>Bestellen en bezorgen</h5>
									<ul class="list-item--inner-container">
										<li class="list-item--inner">
											<h6 class="faq-title">Hoe kan ik betalen?</h6>
											<div class="faq--body">
												<div class="expandable">Nec quis imperdiet et commodo. Pellentesque felis massa aliquet morbi neque rhoncus in ac diam. Lectus cursus phasellus tortor lacus ac duis tincidunt praesent facilisis. Eu aliquam vitae egestas quis risus.</div>
											</div>
										</li>
										<li class="list-item--inner">
											<h6 class="faq-title">Hoe kan ik betalen?</h6>
											<div class="faq--body">
												<div class="expandable">Nec quis imperdiet et commodo. Pellentesque felis massa aliquet morbi neque rhoncus in ac diam. Lectus cursus phasellus tortor lacus ac duis tincidunt praesent facilisis. Eu aliquam vitae egestas quis risus.</div>
											</div>
										</li>
										<li class="list-item--inner">
											<h6 class="faq-title">Hoe kan ik betalen?</h6>
											<div class="faq--body">
												<div class="expandable">Nec quis imperdiet et commodo. Pellentesque felis massa aliquet morbi neque rhoncus in ac diam. Lectus cursus phasellus tortor lacus ac duis tincidunt praesent facilisis. Eu aliquam vitae egestas quis risus.</div>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
