$colors-brand: (
    primary: (
        "300": #4fd8c1,
        "400": #1ac0a4,
        "500": #00a389,
        "600": #01705e,
        "700": #003d33,
        "900": #192c29,
    ),
    secondary: (
        "500": #ffa621,
    )
);

$colors-gray: (
    primary: (
        "white": #fff,
        "50": #f7f7f7,
        "100": #f0f4f4,
        "200": #dbe3e2,
        "300": #d0d0d0,
        "400": #ababab,
        "500": #8a8a8a,
        "600": #5b6261,
        "700": #505050,
        "800": #323232,
        "900": #121212,
    ),
);

$colors-status: (
    success: (
        "200": #dff0d8,
        "500": #3c763d,
    ),
    info: (
        "200": #d9edf7,
        "500": #31708f,
    ),
    warning: (
        "200": #fcf8e3,
        "500": #8a6d3b,
    ),
    error: (
        "200": #ee9791,
        "500": #ff2e21,
    ),
);
